<div class="container text-center animated bounceInUp">
  <h1>About Me</h1>
  <div class="jumbotron" id='about'>

    <p class='lead about-p'><span class='quote-left'>A passionate web developer with a keen interest in full stack
        development. </p>

    <hr>

    <h1 class="display-4">Skills</h1>
    <p class="lead">Take a glance at my skill set</p>
    <div class='row'>
      <div class='col-lg-12'>
        <h3>CS Skills</h3>
        <p class="lead">Excellent interpersonal communication skills
          Capability to implement end user perceptions
          Information of XHTML,CSS, JavaScript, SQL,
          .NET, PHP and others
          Knowledge of current web design techniques
          and trends
          Knowledge into design and creation of effectual
          user interfaces
        </p>
      </div>

    </div>
    <hr class="my-4">
    <p class='lead'>Find my full CV below.</p>
    <a class="btn btn-primary btn-lg" href="/resume" role="button">Check Out!</a>

    <br>

  </div>
</div>