<div class="container animated bounceInLeft pb-0">
  <div class="jumbotron text-center" style="background: transparent;">
    <div class="home">
      <img src="public/images/lk.png" id="home_img">
    </div>
    <div id="typed-strings">

      <p>A Computer Lover!</p>
      <p>A Coder!</p>
      <p>A Learner!</p>
    </div>
    <h1>Hello Guys! My Name Is Jatin Pal Singh ! </h1>
    <h1>I am <span id="typed"></span></h1>
    <hr class="my-4">
    <p class="lead text-center">“You might not think that programmers are artists, but programming is an extremely
      creative profession. It's logic-based creativity.” - John Romero</p>

    <p class="lead">
      <a href="/about"><button type="button" class="btn btn-primary btn-md"><b>Click To See More</b></button></a>
    </p>

  </div>
</div>